/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
} */

html,
body {
    height: 100%;
    margin: 0;
  }

.left-img {
  background: url("../images/recipeleftimg.jpg");
  width: 50%;
  height: 100%;
  opacity: 0.5;
}

.left-img:hover {
  background: url("../images/recipeleftimg.jpg");
  opacity: 1.0;
  text-decoration: none;
}

.right-img {
  background: url("../images/drinkrightimg.jpg");
  width: 50%;
  height: 100%;
  opacity: 0.5;
}
.right-img:hover {
  background: url("../images/drinkrightimg.jpg");
  opacity: 1.0;
  text-decoration: none;
}

.buttons {
  background-color: #a5a5a5b9;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-top: 50%;
  text-decoration: none;
}

/* Recipe Book Styling */
#recipePage{
  background: url('../images/recipebook.jpg')top center no-repeat;
}
.split-container{
  width: 100%;
}
.recipe-div {
  width: 47%;
}

.modal-body ul,
.modal-body ol {
  padding-left: 20px;
}

.modal-body h6 {
  font-weight: bold;
}
/* want to add pseudoclass that changes if button was clicked to display the slected option? still figuring that out  */
/* #byName:on{
  
}

#byIngredient{

} */
