/* Font Families used in page

font-family: 'Heebo', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Quicksand', sans-serif;


*/

/* Landing-Page Styling */
html,
body {
    height: 100%;
    margin: 0;
}

footer{
  background-color: #d3d3d3;
}

footer p{
  margin: 10px;
  padding: 10px;
}

.left-img {
  background: url("../images/recipeleftimg.jpg");
  width: 50%;
  height: 100%;
  opacity: 0.5;
}

.left-img:hover {
  background: url("../images/recipeleftimg.jpg");
  opacity: 1.0;
  text-decoration: none;
}

.right-img {
  background: url("../images/drinkrightimg.jpg");
  width: 50%;
  height: 100%;
  opacity: 0.5;
}
.right-img:hover {
  background: url("../images/drinkrightimg.jpg");
  opacity: 1.0;
  text-decoration: none;
}

.buttons {
  background-color: #a5a5a5b9;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-top: 50%;
  text-decoration: none;
}

/* Recipe Book Styling */
#recipePage{
  background: url('../images/recipebook.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Heebo', sans-serif;
}

header{
  margin-bottom: -25px;
}

.container{
  margin-top: 20px;
  background-color: #cccccc;
  padding: 10px;
}

.split-container{
  width: 100%;
}
.recipe-div {
  width: 47%;
}

.modal-body ul,
.modal-body ol {
  padding-left: 20px;
}

.modal-body h6 {
  font-weight: bold;
}

/* Drink Page Styling */
#drinkSearchPage{
  background: url('../images/drink-page-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.drink-page-content{
  background-color: #ccccccc9;
  border-radius: 10px;
}

.submitBtn {
  background-color: #032c05;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.byName {
  background-color: #032c05;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Food Recipe Search Page Styling */
#foodSearchPage{
  background: url('../images/food-recipe-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#foodSearchPage .btn-primary{
  background-color: red;
  border: 2px solid red;
  font-family: 'Heebo', sans-serif;
}

#foodSearchPage .btn-primary:hover{
  background-color: #b10202;
  border: 2px solid #b10202;
}

.foodPage{
  background-color: #adadad;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
}

.card{
  background-color: #e9e9e9;
  border-radius: 10px;
}

#allergies{
  margin: 20px;
  font-family: 'Quicksand', sans-serif;
}

#recipeCardDiv{
  color: black;
}

#submitBtn{
  margin-bottom: 20px;
}

#showIngredientsBtn, #addToRecipeBook{
  margin: 5px;
  display: inline-block;
}